
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto:wght@300&display=swap');

body {
    font-family: "Open Sans", sans-serif;
}

a {
    
    color: antiquewhite;
}

main {
    max-width: 1200px;
    margin: auto;
}

header {
    display: flex;
    justify-content: center;
    max-height: 50px;
}

header h2 {
    margin: 2;
    color: white;
    text-shadow: 0 0 5px black;
}


article {
    margin-top: 0.5em;
    
}

article #map {
    width: 100%;
    height: 85vh;
    border: 1px solid white;
}

footer {
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    margin-top: 0.5em;
    color: white;
    text-shadow: 0 0 5px black;
    
}

footer nav {
    display: inline-block;
}